*{
    margin: 0;
}

h1{
color: white;
text-align: center;
}
.clickheader{
    text-decoration: none;
    color: white;
}
#header{
background-color: rgba(174, 75, 240, 0.534);
}

#div1{
    display: flex;
    justify-content: space-around;
}

.clickheader:hover{
    color:rgba(90, 47, 77, 0.993)
}

#Titulo{
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor-fotos{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

img{
    width: 400px;
}

p{
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}





